header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px 25px;
  gap: 15px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: #fff;
}

header div {
  display: flex;
  gap: 10px;
}

.user-login {
  background-color: greenyellow;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.admin-login {
  background-color: orangered;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
}
